<html lang="en">
  <head>
    <title>Teach</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OEC Teach App">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.8.3/angular-material.min.css">
    <link rel="stylesheet" href="bower_components/angular-gridster/dist/angular-gridster.min.css"/>
    <link rel="stylesheet" href="assets/app.css">
    <link rel="stylesheet" href="assets/gridster.css">

    <link rel="icon" type="image/png" href="assets/favicon.ico" sizes="96x96">
  </head>
  <body ng-app="myApp" layout="column" ng-controller="AppController as ctrl">

    <md-toolbar layout="row">
      <md-button class="menu" ng-click="ctrl.toggleSidenav('left')" aria-label="Show Left">
        <md-icon md-svg-icon="menu"></md-icon>
        <md-tooltip>Show</md-tooltip>
      </md-button>
      <h1>Teach - Learn To Code!</h1>
      <div layout layout-align="end center" layout-padding flex="40">
        <h3 class="progress-title">{{ctrl.progress}}%</h3>
        <md-progress-linear class="md-accent progress" md-mode="determinate" value="{{ctrl.progress}}"></md-progress-linear>
      </div>
    </md-toolbar>

    <div flex layout="row">

      <!-- Left Sidenav -->
      <md-sidenav md-is-locked-open="$mdMedia('gt-md')" class="md-whiteframe-z2" md-component-id="left">
        <md-toolbar class="md-accent">
          <h1 class="toolbar-title">Concepts</h1>
        </md-toolbar>
        <md-list>
          <md-item ng-repeat="module in ctrl.modules">
            <md-button class="block" ng-click="ctrl.selectModule(module)" ng-class="{'selected' : module === ctrl.selected }">
              <md-icon md-svg-icon="{{module.avatar}}" class="avatar"></md-icon>
              {{module.name}}
            </md-button>
          </md-item>
        </md-list>
      </md-sidenav>

      <!-- Center Content -->
      <md-content layout="column" layout-align="space-between center" flex id="content">

        <!-- Gridster Draggable Content -->
        <div gridster="ctrl.gridsterOpts" class="gridster-container">
          <ul>
            <li gridster-item="item" ng-repeat="item in ctrl.standardItems">
              <div layout layout-align="space-between center" layout-padding>
                <h2 class="gridster-title">{{ctrl.standardItems[$index].text}}</h2>
                <md-button class="md-fab md-mini md-warn" ng-click="ctrl.DeleteWidget($index)" aria-label="Remove">
                  <md-icon md-svg-icon="remove"></md-icon>
                </md-button>
              </div>
              <div layout ng-if="ctrl.standardItems[$index].editable">
                <div>
                  <md-input-container>
                    <label>Title</label>
                    <input ng-model="item.name">
                  </md-input-container>
                  <md-input-container>
                    <label>Title</label>
                    <input ng-model="item.value">
                  </md-input-container>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <!-- Bottom Controls -->
        <div class="tool-box md-whiteframe-z2" layout layout-padding>
          <div layout layout-wrap>
            <div ng-repeat="button in ctrl.moduleButtons" layout layout-margin>
              <md-button class="md-primary md-raised" ng-click="ctrl.AddWidget(button.text)" aria-label="{{button.text}}">
                <md-tooltip>{{button.text}}</md-tooltip>
                <md-icon md-svg-icon="add"></md-icon>
                {{button.text}}
              </md-button>
            </div>
          </div>
        </div>
      </md-content>

      <!-- Right Sidenav -->
      <md-sidenav md-is-locked-open="$mdMedia('gt-xs')" class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-toolbar class="md-accent">
          <h1 class="toolbar-title">Variables</h1>
        </md-toolbar>
        <md-content class="full" layout="column" layout-align="space-between start" layout-padding>
          <div class="variables wide">
            <h3>x = 3</h3>
            <h3>y = 4</h3>
          </div>
          <div>
            {{ctrl.instruction}}
          </div>
          <div class="wide" layout layout-align="space-between center">
            <div>
              <md-button class="md-accent md-icon-button step-btn" ng-click="ctrl.PreviousInstruction()" aria-label="Previous">
                <md-tooltip md-direction="top">Previous</md-tooltip>
                <md-icon class="full wide" md-svg-icon="prev"></md-icon>
              </md-button>
              <md-button class="md-accent md-icon-button step-btn" ng-click="ctrl.NextInstruction()" aria-label="Next">
                <md-tooltip md-direction="top">Next</md-tooltip>
                <md-icon class="full wide" md-svg-icon="next"></md-icon>
              </md-button>
            </div>
            <md-button class="md-primary md-icon-button play-btn" ng-click="ctrl.Start()" aria-label="Start">
              <md-tooltip md-direction="top">Start</md-tooltip>
              <md-icon class="full wide" md-svg-icon="play"></md-icon>
            </md-button>
          </div>
        </md-content>
      </md-sidenav>

    </div>

    <!-- Angular Material Dependencies -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/javascript-detect-element-resize/jquery.resize.js"></script>
    <script src="bower_components/angular-gridster/dist/angular-gridster.min.js"></script>

    <!-- App Dependencies -->
    <script src="app/App.js"></script>
    <script src="app/AppController.js"></script>
    <script src="app/AppService.js"></script>
    <script src="app.js"></script>

  </body>
</html>
