.gridster-container {
  width: 100%;
  margin-top: 0;
}

.gridster-item {
  background-color: #0D47A1;
}

.gridster-title {
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;;
}

.gridster-inputs label, .gridster-inputs .md-char-counter, .gridster-inputs .equals {
  color: #ffffff !important;
}

.gridster-inputs .equals {
  margin: auto 8px;
}
